.DocView {
    background-color: white;
    color: #333333;
    background-color: whitesmoke;
}

.DocView-title {
    width: 100%;
    border: 0px;
    font-size: 24px;
    font-weight: 500;
    color: #333333;
    background-color: whitesmoke;
    padding: 10px;
    resize: none;
}

.DocView-title:focus {
    outline: none;
}